<app-nz-page-header-custom title="용어사전 등록" subtitle="This is a subtitle"></app-nz-page-header-custom>

<app-nz-search-area>
  <div nz-col [nzSpan]="12">
    <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]="query.value" nz-input placeholder="input search text" (keyup.enter)="getTermList()">
    </nz-input-group>
    <ng-template #addOnBeforeTemplate>
      <nz-select [(ngModel)]="query.key">
        <nz-option *ngFor="let option of query.list" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </ng-template>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div nz-col [nzSpan]="12" style="text-align: right;">
    <button nz-button (click)="getTermList()">
      <span nz-icon nzType="search"></span>조회
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button (click)="newTerm()">
      <span nz-icon nzType="form" nzTheme="outline"></span>신규 용어
    </button>    
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button (click)="newWord()">
      <span nz-icon nzType="form" nzTheme="outline"></span>신규 단어
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button (click)="newDomain()">
      <span nz-icon nzType="form" nzTheme="outline"></span>신규 도메인
    </button>    
  </div>
</app-nz-search-area>

<nz-tabset [nzSelectedIndex]="tabIndex">
  <nz-tab nzTitle="용어사전">
    <!--<h3>용어사전 목록</h3>-->
    <div class="grid-wrapper">
      <app-term-grid #termGrid
        (rowClickedEvent)="termGridSelected($event)"
        (editButtonClickedEvent)="editTerm($event)"
        (rowDoubleClickedEvent)="editTerm($event)">
      </app-term-grid>
    </div>
  </nz-tab>

  <nz-tab nzTitle="단어사전">
    <div class="grid-wrapper">
      <app-word-grid #wordGrid
      (rowClickedEvent)="wordGridSelected($event)"
      (editButtonClickedEvent)="editWord($event)"
      (rowDoubleClickedEvent)="editWord($event)">
      </app-word-grid>
    </div>
  </nz-tab>

  <nz-tab nzTitle="도메인">
    <div class="grid-wrapper">
      <app-data-domain-grid #domainGrid
        (rowClickedEvent)="domainGridSelected($event)"
        (editButtonClickedEvent)="this.domainDrawer.visible = true"
        (rowDoubleClickedEvent)="this.domainDrawer.visible = true">
      </app-data-domain-grid>
    </div>
  </nz-tab>
</nz-tabset>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="termDrawer.visible"
  nzTitle="용어 등록"
  (nzOnClose)="this.termDrawer.visible = false">
    <app-term-form *nzDrawerContent
      #termForm
      [initLoadId]="termDrawer.initLoadId"
      (formSaved)="getTermList()"
      (formDeleted)="getTermList()"
      (formClosed)="this.termDrawer.visible = false">
    </app-term-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="wordDrawer.visible"
  nzTitle="단어 등록"
  (nzOnClose)="this.wordDrawer.visible = false">
    <app-word-form *nzDrawerContent #wordForm
      [initLoadId]="wordDrawer.initLoadId"
      (formSaved)="getWordList()"
      (formDeleted)="getWordList()"
      (formClosed)="wordDrawer.visible = false">
    </app-word-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="domainDrawer.visible"
  nzTitle="도메인 등록"
  (nzOnClose)="domainDrawer.visible = false">
    <app-data-domain-form *nzDrawerContent #doaminForm
      [initLoadId]="domainDrawer.initLoadId"
      (formSaved)="getDomainList()"
      (formDeleted)="getDomainList()"
      (formClosed)="domainDrawer.visible = false">
    </app-data-domain-form>
</nz-drawer>
