<app-nz-page-header-custom title="롤 등록" subtitle="This is a subtitle"></app-nz-page-header-custom>

<app-nz-search-area>
  <div nz-col [nzSpan]="12">
    <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]="queryValue" nz-input placeholder="input search text" (keyup.enter)="getRoleList()">
    </nz-input-group>
    <ng-template #addOnBeforeTemplate>
      <nz-select [(ngModel)]="queryKey">
        @for (option of queryOptionList; track option.value) {
        <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        }
      </nz-select>
    </ng-template>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <div nz-col [nzSpan]="12" style="text-align: right;">
    <app-nz-buttons [buttons]="buttons"></app-nz-buttons>
  </div>
</app-nz-search-area>

<h3 class="grid-title">롤 목록</h3>

<div class="grid-wrapper">
  <app-authority-grid #authGrid
    (rowClicked)="selectedItem($event)"
    (editButtonClicked)="editDrawOpen($event)"
    (rowDoubleClicked)="editDrawOpen($event)">
  </app-authority-grid>
</div>


<nz-drawer #drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px'}"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="drawerRole.visible"
  nzTitle="롤 등록"
  (nzOnClose)="closeDrawer()">
    <app-authority-form #form *nzDrawerContent
      [initLoadId]="drawerRole.initLoadId"
      (formSaved)="getRoleList()"
      (formDeleted)="getRoleList()"
      (formClosed)="closeDrawer()">
    </app-authority-form>
</nz-drawer>

