<div class="title">
  <h1>나의 하루</h1>
  <h2>{{ today | date:'M월 d일' }}</h2>
</div>

<div class="todo-body">
  <div class="todo-group">
    <app-todo-group-list
      (onSelectedTodoGroup)="getTodoList($event)"
      (onDeletedTodoGroup)="deleteTodoGroup($event)">
    </app-todo-group-list>
  </div>

  <div class="todo">
    <app-todo-add-input
      [pkTodoGroup]="selectedPkTodoGroup"
      (onTodoAdded)="addTodo($event)">
    </app-todo-add-input>

    @for (todo of todos; track todo.pkTodo) {
      <app-todo-text [todo]="todo" (stateChanged)="toggleTodo($event)" (deleteClicked)="deleteTodo($event)"></app-todo-text>
    }
  </div>

</div>





