<app-nz-page-header-custom title="직원정보관리" subtitle="This is a subtitle"></app-nz-page-header-custom>

<div nz-row class="btn-group">

  <div nz-col [nzSpan]="24" style="text-align: right;">
    {{selectedStaff | json}}
    <button nz-button (click)="selectGridStaff()">
      <span nz-icon nzType="search" nzTheme="outline"></span>조회
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="newStaff()">
      <span nz-icon nzType="save" nzTheme="outline"></span>신규직원등록
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="newDutyResponsibility()">
      <span nz-icon nzType="save" nzTheme="outline"></span>직책등록
    </button>
  </div>
</div>

<div class="app-grid">
  <app-staff-grid
    (rowClickedEvent)="staffGridRowClicked($event)">
  </app-staff-grid>

  <div>
    <app-staff-regist-form [staffNo]="selectedStaff?.staffNo">
    </app-staff-regist-form>
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'발령'">
        <app-staff-current-appointment-description [staffNo]="selectedStaff?.staffNo">
        </app-staff-current-appointment-description>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'보직'">
        <div style="height:100px; padding: 0px; margin: 0px;">
          <app-staff-duty-responsibility-list
            [staffId]="selectedStaff?.staffNo">
          </app-staff-duty-responsibility-list>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>


  <div>
    <nz-tabset [nzAnimated]="false">
      <nz-tab nzTitle="연락처">
        <div class="tab-grid">
          <app-staff-contact-form
            [staff]="selectedStaff"
            (formSaved)="selectGridAppointment()"
            (formDeleted)="selectGridAppointment()"
            (formClosed)="drawerContact.visible = false">
          </app-staff-contact-form>
        </div>
      </nz-tab>

      <nz-tab nzTitle="발령기록">
        <button nz-button nzType="primary" (click)="newAppoint()">
          <span nz-icon nzType="save" nzTheme="outline"></span>발령등록
        </button>
        <div class="tab-grid">
          <app-staff-appointment-record-grid
            [staffNo]="selectedStaff?.staffNo"
            (editButtonClicked)="editAppointment($event)"
            (rowDoubleClicked)="editAppointment($event)">
          </app-staff-appointment-record-grid>
        </div>
      </nz-tab>

      <nz-tab nzTitle="가족">
        <button nz-button nzType="primary" (click)="newFamily()">
          <span nz-icon nzType="save" nzTheme="outline"></span>가족등록
        </button>
        <div class="tab-grid">
          <app-staff-family-grid
            [staffId]="selectedStaff?.staffNo"
            (editButtonClicked)="editFamily($event)"
            (rowDoubleClicked)="editFamily($event)">
          </app-staff-family-grid>
        </div>
      </nz-tab>

      <nz-tab nzTitle="학력">
        <button nz-button nzType="primary" (click)="newSchoolCareer()">
          <span nz-icon nzType="save" nzTheme="outline"></span>학력등록
        </button>
        <div class="tab-grid">
          <app-staff-school-career-grid
            [staffId]="selectedStaff?.staffNo"
            (editButtonClicked)="editSchoolCareer($event)"
            (rowDoubleClicked)="editSchoolCareer($event)">
          </app-staff-school-career-grid>
        </div>
      </nz-tab>

      <nz-tab nzTitle="자격면허">
        <button nz-button nzType="primary" (click)="newLicense()">
          <span nz-icon nzType="save" nzTheme="outline"></span>자격면허등록
        </button>
        <div class="tab-grid">
          <app-staff-license-grid
            [staffId]="selectedStaff?.staffNo"
            (editButtonClicked)="editLicense($event)"
            (rowDoubleClicked)="editLicense($event)">
          </app-staff-license-grid>
        </div>
      </nz-tab>

      <nz-tab nzTitle="카드명단">
        <div class="tab-grid">
          <app-staff-card-list>
          </app-staff-card-list>
        </div>
      </nz-tab>

    </nz-tabset>
  </div>

</div>


<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerNewStaff.visible"
  nzTitle="직원 등록"
  (nzOnClose)="drawerNewStaff.visible = false">
    <!-- (formSaved)="getForm(newStaff.selectedRowId)" -->
    <app-new-staff-form *nzDrawerContent
      [initLoadId]="drawerNewStaff.initLoadId"
      (formSaved)="selectGridStaff()"
      (formDeleted)="selectGridStaff()"
      (formClosed)="drawerNewStaff.visible = false">
    </app-new-staff-form>
</nz-drawer>


<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerAppointment.visible"
  nzTitle="발령 등록"
  (nzOnClose)="drawerAppointment.visible = false">
    <app-staff-appointment-record-form *nzDrawerContent
      [staff]="selectedStaff"
      [initLoadId]="drawerAppointment.initLoadId"
      (formSaved)="selectGridAppointment()"
      (formDeleted)="selectGridAppointment()"
      (formClosed)="drawerAppointment.visible = false">
    </app-staff-appointment-record-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerDutyResponsibility.visible"
  nzTitle="직책 등록"
  (nzOnClose)="drawerDutyResponsibility.visible = false">
  <!--(formSaved)="selectGridAppointment()"
      (formDeleted)="selectGridAppointment()"-->
    <app-staff-duty-responsibility-form *nzDrawerContent
      [staff]="selectedStaff"
      [initLoadId]="drawerDutyResponsibility.initLoadId"
      (formClosed)="drawerDutyResponsibility.visible = false">
    </app-staff-duty-responsibility-form>
</nz-drawer>


<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerContact.visible"
  nzTitle="연락처 등록"
  (nzOnClose)="drawerContact.visible = false">
    <app-staff-contact-form *nzDrawerContent
      [initLoadId]="drawerContact.initLoadId"
      [staff]="selectedStaff"
      (formSaved)="selectGridAppointment()"
      (formDeleted)="selectGridAppointment()"
      (formClosed)="drawerContact.visible = false">
    </app-staff-contact-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerFamily.visible"
  nzTitle="가족 등록"
  (nzOnClose)="drawerFamily.visible = false">
    <app-staff-family-form *nzDrawerContent
      [initLoadId]="drawerFamily.initLoadId"
      [staff]="selectedStaff"
      (formSaved)="selectGridFaimly()"
      (formDeleted)="selectGridFaimly()"
      (formClosed)="drawerFamily.visible = false">
    </app-staff-family-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerSchoolCareer.visible"
  nzTitle="학력 등록"
  (nzOnClose)="drawerSchoolCareer.visible = false">
    <app-staff-school-career-form *nzDrawerContent
      [initLoadId]="drawerSchoolCareer.initLoadId"
      [staff]="selectedStaff"
      (formSaved)="selectGridSchoolCareer()"
      (formDeleted)="selectGridSchoolCareer()"
      (formClosed)="drawerSchoolCareer.visible = false">
    </app-staff-school-career-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerLicense.visible"
  nzTitle="자격면허 등록"
  (nzOnClose)="drawerLicense.visible = false">
    <app-staff-license-form *nzDrawerContent
      [initLoadId]="drawerLicense.initLoadId"
      [staff]="selectedStaff"
      (formSaved)="selectGridLicense()"
      (formDeleted)="selectGridLicense()"
      (formClosed)="drawerLicense.visible = false">
    </app-staff-license-form>
</nz-drawer>
