<app-nz-page-header-custom title="메뉴 등록" subtitle="This is a subtitle"></app-nz-page-header-custom>

<app-nz-search-area>
  <div nz-col [nzSpan]="8">
    <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]="queryMenuGroup.value" nz-input placeholder="input search text" (keyup.enter)="getMenuGroupList()">
    </nz-input-group>
    <ng-template #addOnBeforeTemplate>
      <nz-select [(ngModel)]="queryMenuGroup.key">
        @for (option of queryMenuGroup.list; track option.value) {
        <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        }
      </nz-select>
    </ng-template>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <div nz-col [nzSpan]="8">
    <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate2" [nzSuffix]="suffixIconSearch2">
      <input type="text" [(ngModel)]="queryMenu.value" nz-input placeholder="input search text" (keyup.enter)="getMenuList()">
    </nz-input-group>
    <ng-template #addOnBeforeTemplate2>
      <nz-select [(ngModel)]="queryMenu.key">
        @for (option of queryMenu.list; track option.value) {
        <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        }
      </nz-select>
    </ng-template>
    <ng-template #suffixIconSearch2>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <div nz-col [nzSpan]="8" style="text-align: right;">
    <button nz-button (click)="newMenuGroup()">
      <span nz-icon nzType="search"></span>메뉴그룹등록
    </button>
    <nz-divider nzType="vertical"></nz-divider>

    <button nz-button (click)="newMenu()">
      <span nz-icon nzType="form"></span>메뉴등록
    </button>
    <nz-divider nzType="vertical"></nz-divider>

    <button nz-button (click)="getMenuGroupList()">
      <span nz-icon nzType="form"></span>조회
    </button>

  </div>
</app-nz-search-area>

<div class="content">
  <h3 class="pgm-title">메뉴 그룹 목록</h3>
  <app-menu-group-grid
    #menuGroupGrid
    id="menuGroupGrid"
    (rowSelected)="menuGroupGridRowClicked($event)"
    (editButtonClicked)="editMenuGroup($event)"
    (rowDoubleClicked)="editMenuGroup($event)">
  </app-menu-group-grid>

  <h3 class="pgm-title">메뉴 목록</h3>
  <app-menu-grid
    id="menuGrid"
    #menuGrid
    (rowSelected)="menuGridRowClicked($event)"
    (editButtonClicked)="editMenu($event)"
    (rowDoubleClicked)="editMenu($event)">
  </app-menu-grid>
</div>

<app-menu-role-tree>

</app-menu-role-tree>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerMenuGroup.visible"
  nzTitle="메뉴그룹 등록"
  (nzOnClose)="drawerMenuGroup.visible = false">
    <app-menu-group-form #menuGroupForm *nzDrawerContent
      [initLoadId]="drawerMenuGroup.initLoadId"
      (formSaved)="getMenuGroupList()"
      (formDeleted)="getMenuGroupList()"
      (formClosed)="drawerMenuGroup.visible = false">
    </app-menu-group-form>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerMenu.visible"
  nzTitle="메뉴 등록"
  (nzOnClose)="drawerMenu.visible = false">
    <app-menu-form #menuForm *nzDrawerContent
      [menuGroupId]="drawerMenuGroup.initLoadId"
      [initLoadId]="drawerMenu.initLoadId"
      (formSaved)="getMenuList()"
      (formDeleted)="getMenuList()"
      (formClosed)="drawerMenu.visible = false">
    </app-menu-form>
</nz-drawer>
